__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
*.sqlite3
.DS_Store
# Fichiers sensibles utilisateurs
datas/users.json
logs/
debug/
client_secret_1091053967921-nqfqug3u1vau0tjr8qihkts9n3dlsul6.apps.googleusercontent.com.json